[project]
	description = The project contains some libraries, which are the examples used by the blogs of 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wowotech
[access "refs/for/refs/*"]
	read = group user/wowotech
	push = group user/wowotech
	label-Code-Review = -2..+2 group user/wowotech
	label-Verified = -1..+1 group user/wowotech
	rebase = group user/wowotech
	removeReviewer = group user/wowotech
	submit = group user/wowotech
[access "refs/heads/*"]
	read = group user/wowotech
	create = group user/wowotech
	push = +force group user/wowotech
	pushMerge = group user/wowotech
[access "refs/tags/*"]
	push = +force group user/wowotech
	pushTag = group user/wowotech
	pushSignedTag = group user/wowotech
